.carousel {
 margin: 0 auto;
 overflow: hidden;
 text-align: center;
 background-color: #181818;
}

.slides {
 width: 100%;
 display: flex;
 overflow-x: scroll;
 scrollbar-width: none;
 scroll-snap-type: x mandatory;
 scroll-behavior: smooth;
}

.slides::-webkit-scrollbar {
 display: none;
}

.slides-item {
 align-items: center;
 border-radius: 10px;
 display: flex;
 flex-shrink: 0;
 font-size: 100px;
 height: 600px;
 justify-content: center;
 margin: 0 1rem;
 position: relative;
 scroll-snap-align: start;
 transform: scale(1);
 transform-origin: center center;
 transition: transform .5s;
 width: 100%;
}

.slides-item img {
 width: 100%;
 height: auto;
 border-radius: 10px;
 box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.carousel__nav {
 padding: 1.25rem .5rem;
}

.slider-nav {
 align-items: center;
 background-color: #000;
 border-radius: 50%;
 color: #fff;
 display: inline-flex;
 height: 1.5rem;
 justify-content: center;
 padding: .5rem;
 position: relative;
 text-decoration: none;
 width: 1.5rem;
}

.slider-nav:hover {
 background-color: #333;
}

.skip-link {
 height: 1px;
 overflow: hidden;
 position: absolute;
 top: auto;
 width: 1px;
}

.skip-link:focus {
 align-items: center;
 background-color: #000;
 color: #fff;
 display: flex;
 font-size: 30px;
 height: 30px;
 justify-content: center;
 opacity: .8;
 text-decoration: none;
 width: 50%;
 z-index: 1;
}

.light-theme .slider-nav {
 background-color: #ddd;
}

.dark-theme .slider-nav {
 background-color: #000;
}

.dark-theme .slider-nav:hover {
 background-color: #333;
}

@media (prefers-color-scheme: light) {
 .no-theme .slider-nav {
  background-color: #ddd;
 }
}

@media (prefers-color-scheme: dark) {
 .no-theme .slider-nav {
  background-color: #000;
 }
}

.dark-theme .slides-item img {
 filter: brightness(70%);
}
