#player {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.watch-on-invidious {
  font-size: 1.3em !important;
  font-weight: bold;
  white-space: nowrap;
  margin: 0 1em 0 1em !important;
  order: 3;
}

.watch-on-invidious > a {
  color: white;
}

.watch-on-invidious > a:hover,
.watch-on-invidious > a:focus {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}

body {
  background-color: #181818;
  color: #ffffff;
}

a {
  color: #1a73e8;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #0d47a1;
  text-decoration: underline;
}
